body {
    margin: 0;
    padding: 0;
}
#background {
    background-image: url(peter-thomas-3sOs1jSpbU4-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.nav-links {
    display: inline-flex;
    text-decoration: none;
    padding: 6px 6px;
    text-align: right;
    background-color: rgba(0, 0, 128, 0.031);
}


